name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v1

        - name: Log in to Docker Hub
          uses: docker/login-action@v1
          with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

        - name: Build and push frontend
          uses: docker/build-push-action@v2
          with:
            context: ./Client
            file: ./Client/Dockerfile
            push: true
            tags: prashant6749/organica-frontend:latest

        - name: Build and push backend
          uses: docker/build-push-action@v2
          with:
            context: ./Server
            file: ./Server/Dockerfile
            push: true
            tags: prashant6749/organica-backend:latest

        #   - name: Deploy to Server
        #     uses: appleboy/ssh-action@v0.1.5
        #     with:
        #       host: ${{ secrets.SERVER_HOST }}
        #       username: ${{ secrets.SERVER_USER }}
#       key: ${{ secrets.SERVER_SSH_KEY }}
#       script: |
#         cd /path/to/your/deployment/directory
#         docker-compose pull
#         docker-compose up -d --build